In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('E:\Sylvian/其他物件/三次元相关/出国/23RSM-SCM/Facility Logistics Management/Assignment 1/sales-2.csv',sep = ',')
df.head()

           SkuID  OrderNumber  CustomerNumber  OrderQuantity      Date    Time
0  EPSC11C497001            0          552321              1  20040101  151700
1       SPR60043     23912352          919569              2  20040102  161500
2       SMD67179     23912353          919569              1  20040102  161500
3       SPR07501     23912359          919569              2  20040102  161500
4       SMD67157     23912353          919569              1  20040102  161500

In [34]:
df = df[df['OrderNumber'] != 0]
df = df.drop_duplicates()
df.head()
df.shape

(9838, 6)

In [35]:
dic_orderSKU = {}
for i in df.index:
    order_num = df['OrderNumber'][i]
    if order_num in dic_orderSKU:
        dic_orderSKU[order_num].append(df['SkuID'][i])
    else:
        dic_orderSKU[order_num] = [df['SkuID'][i]]
print(dic_orderSKU[23912353])

['SMD67179', 'SMD67157', 'SMD67171', 'SMD67154', 'SMD67191', 'SMD67161', 'SMD67184', 'SMD67195', 'SMD67175', 'SMD67158', 'SMD67189', 'SMD67153', 'SMD67177', 'SMD67183']

In [36]:
from collections import Counter
sku_pairs = []
for order, skus in dic_orderSKU.items():
    for i in range(len(skus)):
        for j in range(i+1, len(skus)):
             sku1, sku2 = skus[i],skus[j]
             if sku1 > sku2:
                sku1, sku2 = sku2, sku1
             sku_pair = (sku1,sku2)
             sku_pairs.append(sku_pair)
sku_pair_counts = Counter(sku_pairs)
top_5_sku_pairs = sku_pair_counts.most_common(5)
for pair, count in top_5_sku_pairs:
    print(f"SKU pair {pair}:{count} times")

SKU pair ('GEPFM20', 'GEPTM20'):8 times
SKU pair ('MMM671-4AN', 'PAP965-01'):8 times
SKU pair ('PAP961-01', 'PAP963-01'):6 times
SKU pair ('MEA57104', 'ROA77922'):6 times
SKU pair ('SMD67184', 'SMD67189'):5 times

In [37]:
value_counts_Q2 = df['OrderNumber'].value_counts()
ordernum_with_2_skus = value_counts_Q2[value_counts_Q2 == 2].index
order_with_2_skus = df[df['OrderNumber'].isin(ordernum_with_2_skus)]
print(order_with_2_skus)

               SkuID  OrderNumber  CustomerNumber  OrderQuantity      Date  \
7           SPR00906     23912363          919569              1  20040102
12       SPRSP52-1/3     23912358          919569              3  20040102
15      MMM3710-2-TT     23912399          919569             12  20040102
35    MMF201-3000-06     23910736          927715              3  20040102
52          SPR01648     23912367          919569              3  20040102
...              ...          ...             ...            ...       ...
9955        AVE05454     23927736          906311              1  20041201
9961        TCO32200     23928732          906311              1  20041201
9969      GBC3745167     23928140          634028              1  20041201
9970      HEWC8765WN     23931579          634028              2  20041201
9985        SPR02311     23929851          906311              3  20041201

        Time
7     161500
12    161500
15    163400
35    110200
52    161500
...      ...
9955  195000
9961  115700
9969  100300
9970  164200
9985  142700

[1642 rows x 6 columns]

In [38]:
orderSKU_Q2 = {}
for i in order_with_2_skus.index:
    order_num = order_with_2_skus['OrderNumber'][i]
    if order_num in orderSKU_Q2:
        orderSKU_Q2[order_num].append(order_with_2_skus['SkuID'][i])
    else:
        orderSKU_Q2[order_num] = [order_with_2_skus['SkuID'][i]]
print(orderSKU_Q2[23912363])

['SPR00906', 'SEL10600']

In [44]:
order_combination_Q2 = list(orderSKU_Q2.values())
sorted_order_combination = [sorted(value, reverse=True) for value in order_combination_Q2]
combination_counts = Counter(tuple(sublist) for sublist in sorted_order_combination)
top_5_combination = combination_counts.most_common(10)
print(top_5_combination)

[(('PAP963-01', 'PAP961-01'), 3), (('ESS5825BLU', '39,906RUB'), 3), (('NAT01645', 'NAT01644'), 3), (('EPSS191089', 'EPSS189108'), 3), (('BIN58-7813', 'BIN58-7812'), 3), (('GEPTM20', 'GEPFM20'), 3), (('CNMBCI-15BK', 'CNMBCI-15'), 3), (('SMD68670', 'SMD68620'), 3), (('MMF200-0351-10', 'ALL26185'), 3), (('SPR05123', 'SPR05122'), 2)]